* {
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .button{

} */

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
}
.header-top {
  grid-column-end: span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header-bottom {
  grid-column-start: 1;
  grid-column-end: span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.sidebar {
  border: 3px solid purple;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: span 2;
}

.main-content {
  border: 3px solid red;
  grid-column-start: 2;
}
