* {
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  width: 100px;
  padding: 10px;
  border-radius: 20px;
}

img.avatar-img {
  width: 70px;
}
img.login-avatar-img {
  width: 80px;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: end;
}
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
}
.header-top {
  grid-column-end: span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header-top-left {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  gap: 15px;
}
.header-top-left img {
  justify-self: end;
}

.header-bottom-left {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  column-gap: 15px;
}
.header-bottom-left h3 {
  grid-column-start: 2;
}

.header-bottom-left h2 {
  grid-column-start: 2;
  align-self: start;
}

.search-input {
  height: 30px;
  border-radius: 20px;
  background-color: #ced4da;
  border: none;
}

.header-bottom {
  grid-column-start: 1;
  grid-column-end: span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.sidebar {
  width: 100%;
  border: 3px solid purple;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: span 2;
  background-color: #415a77;
}

.main-content {
  border: 3px solid red;
  grid-column-start: 2;
}

/* .sidebar {
  display: grid;
  grid-template-rows: 100px repeat(11, 50px);
} */
.sidebar-logo {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 20px;
}
.sidebar-logo img {
  width: 42px;
  height: 42px;
}

.sidebar-title {
  margin-left: 10px;
}

.sidebar-content {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-content: start;
  grid-template-rows: repeat(11, 50px);
}

.sidebar-element {
  display: flex;
  justify-content: start;
  margin-left: 20px;
  align-items: center;
}

.sidebar-element img{
  margin-right: 15px;
}

.settings {
  grid-row-start: 9;
}
.support {
  grid-row-start: 10;
}

.privacy {
  grid-row-start: 11;
}
